{# source/_data/header.njk #}
<div class="site-meta-counts" style="font-size:.9em;opacity:.85;margin-top:.25rem">
  <span class="post-meta-item">
    <i class="fa fa-eye"></i>
    <span class="post-meta-item-text">总访问量</span>
    <span id="vercount_value_site_pv">0</span>
  </span>
</div>