{# source/_data/post-meta.njk #}
{% if page.layout == 'post' %}
<span class="post-meta-item">
  <span class="post-meta-item-icon"><i class="fa fa-eye"></i></span>
  <span class="post-meta-item-text">Views:</span>
  <span id="vercount_value_page_pv">0</span>  {# Vercount 的页面PV节点 #}
</span>
{% endif %}
